:root{
    --black: #000000 ;
    --white: #ffffff;
    --lblush: lavenderblush;
}

*{
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg) ;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

.light-theme{
    --bg: var(--lblush);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black) ;
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);

}

.btn{
    position: absolute;
    top: 10px;
    left: 650px;
    height: 40px;
    width: 90px;
    border-radius: 0%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus{
    outline-style: none;
}